@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background: url(../img/body.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    @include small {
        background: #fff;
        color: black
    }
}

.container {
    max-width: 985px;
    margin: 0 auto;

    @include small {
        padding: 0 15px;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}