@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    margin: 0;
    background: url(../img/body.png);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 985px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}