.header {
    padding-top: 70px;
    position: relative;

    @include small {
        padding-top: 0;
    }
}

.header__info {
    display: flex;
    border: 1px solid #2b3c45;
    width: 100%;
    padding: 20px 70px;
    justify-content: space-between;
    background-color: rgba(252, 252, 252, 0.02);
    border-radius: 10px;

    @include small {
        border-radius: 0;
    }

    @include extra-small {
        font-size: 17px;
        display: block;
    }
}

.header__title {
    margin: 0;
    font-size: 32px;
    line-height: 60px;
    font-weight: 500;

    @include small {
        font-size: 27px;
    }

    @include extra-small {
        font-size: 20px;
        text-align: center;
        line-height: 20px;
    }
}

.header__btn {
    margin-right: 25px;
    background: #1f272f;
    border: 1px solid #92e8fe;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    width: 296px;
    display: flex;
    justify-content: space-between;

    @include small {
        width: 240px;
        margin-right: 25px;
    }

    @include extra-small {
        width: 100%;
        margin-top: 10px;
    }
}

.header__btn-dsr {
    font-weight: 300;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__icon {
    color: #92e8fe;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__topbar {
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 100px;
    background: #1f272f;
    border: 1px solid #92e8fe;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.header__topbar-btn {
    display: block;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
}

.header__topbar-btn:not(:first-child) {
    margin-top: 8px;
}

.header__topbar {
    display: none;
}